<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            /* background-image: url('https://p4.wallpaperbetter.com/wallpaper/185/914/378/hexagon-white-abstract-3d-abstract-hd-wallpaper-preview.jpg');
            opacity: 0.3; */
            background-color: #f4f4f5;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .card {
        /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        /* Add some padding inside the card container */
        .container {
          padding: 2px 16px;
        }
        .box {
            width: 100%;
            display: flex;
        }
        .card {
            background-color: white;
            margin: 10px;
            padding: 10px;
        }
        .container input{
            border: none;
        }
        #popup div{
            width: 100%;
            margin: auto;
            text-align: center;
            margin-bottom: 20px;
        }
        #popup div p{
            display: inline;
            margin-right: 20px;
        }
        li{
            list-style-type: none;
        }
        #profimag{
            width: 40px;
        }
        .profile{
            padding: 10px;
        }
        .profile{
            padding: 10px;
            box-shadow: #4CAF50;
            width: 50%;
            background-color: #ffffff;
        }
        input[type=submit]{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>
<body>

     <!-- Alert -->
     <div id="popup">
        <div>
            <% if (Data.Alert != "") {%>
            <p><%= Data.Alert %></p>
            <input type="submit" value="x" onclick="remove()">
            <% }%>
        </div>
    </div>

    <script>
        function remove(){
            const element = document.getElementById("popup");
            element.remove();
        }
    </script>
    <!-- profile Section -->
    <div class = "profile-flex">
        <div class="profile">
            <h2><img id ="profimag" src="https://icon-library.com/images/coder-icon/coder-icon-13.jpg" alt=""> Profile</h2>
            <div class="details">
                 <ul >
                    <% if (Data.Profile != {}){ for (var prop in Data.Profile ) { %>
                        <li> <%= prop %> : <%= Data.Profile[prop] %></li>
                    <% } } else {%>
                        <li>No data available</li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>



    <!-- Table / Collection Section -->
    <div>
        <h2>Requests on the Transport Network</h2>
        <div class = "box">
        
             <% if (Data.Requests != []) { for (const Request of Data.Requests) { %>
            <div class="card">
                <div class = "container">
                    <form action="/distributor/accept-request" method="post">
                        <% if (Request != {}) { %>
                        <label for="Product"> Product :</label>
                        <input type="text" name="Product" value= <%= Request.Product %> readonly><br><br>
                        <label for="Material"> Material :</label>
                        <input type="text" name="Material" value= <%= Request.Material %> readonly><br><br>
                        <label for="TransportAddress"> Transport :</label>
                        <input type="text"  name="TransportAddress" value= <%= Request.Transport %> readonly><br><br>
                        <input type="submit" value="Accept Request">
                        <% }%>
                    </form>
                </div>
            </div>
            <% } } %>
</div>
</div>
    <div>
        <img id = "bg" src="http://coritraveller.com/wp-content/uploads/2020/03/distributor.png" alt="">
    </div>
    <style>
        #bg {
            position: absolute;
            right: 0px;
            bottom: 0px; 
            z-index: -1;   
        }
    </style>


</body>
</html>